.App {
  text-align: center;
}

.App-Task {
  height: 150px;
  padding: 25px;
  color: black;
}

.App-Countdown {
  height: 410px;
  padding: 90px;
  margin-right: 210px;
}

.App-footer {
  background-color: orange;
  height: 240px;
  padding: 20px;
  color: white;
}
